.reviews-section {
    margin: 20px 0;
  }
  
  .section-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .review h3 {
    margin-top: 0;
  }
  
  .review-form {
    margin-bottom: 20px;
    
  }
  
  .input-field {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  .review-form {
    width: 25%;
    margin: auto;
  } 

    .avisdiv{
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .input-wrapper {
    display: inline-block;
    margin-right: px; /* Adjust margin as needed */
}
/* styles.css */

.vtc-avis {
  margin: auto;
  width: 100%;
  background-color: #edf1f7 ;

}


@media screen and (max-width: 767px) {
  /* For mobile devices */
  .vtc-avis {
      width: 100%;
  }
  
  .review-form {
    width: 60%;

  } 
}
