

  .ch1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 32px;
    font-family: Arial, sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;

  }
  .cp{
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(137, 139, 141);
  }
  
  .ch12{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 32px;
    font-family: Arial, sans-serif;
  }