.Home-container {
    display: flex;
    height: 80vh;
  }
  
  /*.Home-background {
    background-image: 
    background-size: cover; 
    background-position: center top;
    width: 100%;
    background-repeat: no-repeat;
  }
  */
  .Home-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Home-content h1 {
    font-family: "Lekton", sans-serif;
    font-size: 58px;
    color:white; /* Adjust text color as needed */
    margin-top: 8%;
    font-weight: bold;
    font-style: italic; 

  }
  
  @media (max-width: 999px) {
    .Home-background {
      background-size: contain;
    }
    .Home-container {
        display: flex;
        height: 45vh;
      }
}